<div >
    <br><br>
</div>  
<div class="row">
    <div class="span6">
        <iframe width="487" height="360" src="https://www.youtube.com/embed/QkNrSpqUr-E?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span6">
        <h1><br><br>Welcome to Friggo</h1>

        <h2>
            Enabling you to sell your your digital creations <b><u>directly</u></b> to your friends and followers.
        </h2>

        <center id="start_selling"><button class="btn btn-large btn-primary">Start Selling Now!</button></center>
       
<!--         <center><%= link_to "Start Selling Now!", root_path, class: "btn btn-large btn-primary", id: "start_selling", remote: true %></center> -->
    </div>
</div>
<div >
    <br>
</div>  
<div class="row">
    <div class="span3">
        <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/551365_10150920243964325_1726245988_n.jpg" frameborder="0" allowfullscreen>
    </div>

    <div class="span3">
        <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/532634_10151267051794325_803920216_n.jpg" frameborder="0" allowfullscreen>
    </div>

    <div class="span3">
        <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-prn1/546005_10150921571324325_498355461_n.jpg" frameborder="0" allowfullscreen>
    </div>

    <div class="span3">
        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-snc7/300921_10150426450609325_6149649_n.jpg" frameborder="0" allowfullscreen>   
    </div>
</div>